<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jlynn Arts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  body {font-family: "Raleway", Arial, sans-serif}
  .w3-row img {margin-bottom: -8px}
  </style>
</head>

<body class="w3-black w3-content">

  <div class="w3-black w3-content" style="max-width:1500px">

      <!-- Header -->
    <header class="w3-black w3-container w3-xlarge w3-padding-24">
      <a href="{% url 'jlynn_site:homepage' %}" class="w3-text-white w3-left w3-button w3-black">MY ART</a>
      <a href="{% url 'jlynn_site:art_store' %}" class="w3-text-white w3-left w3-button w3-black">SHOP</a>
      <a href="#about" class="w3-right w3-button w3-black">About</a>
    </header>

  <!-- Product grid -->
  <h3>Some of my Work</h3><br>


  <div class="container-fluid bg-3 text-center">
    <div class="row">

      {% for image in collection %}
      <div class="col-sm-3">
        <p>{{ image.title }}</p>

        <img src="{{MEDIA_URL}}{{image.photo_large.url}}" class="img-responsive" style="width:100%" alt="Image">

        <p> {{ image.media }}<p>
        <p> {{ image.length }} X {{ image.width }}<p>
        <p> {{ image.price }}<p>
        <div class="container-fluid bg-3 text-center">

        <form action="{% url 'jlynn_site:buy_painting' image_pk=image.id %}" method="post">

          {% csrf_token %}

          <input class="w3-text-white w3-left w3-button w3-black" name='buy' type='submit' value='Buy'>

        </form>
      </div>

      </div>
      {% endfor %}
    </div>
  </div>

  </div>

</body>
</html>
